@import "tailwindcss";

.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiMenuItem-root,
.MuiSelect-root {
  font-family: "Montserrat", sans-serif !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 6em !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

@theme {
  --color-background-color: #141414;
  --color-secondary-text-color: #d3cfcf;
  --color-border-color: #363535;

  --animate-fade-in: fadeInRightToLeft 0.5s ease-out forwards;
  @keyframes fadeInRightToLeft {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body {
  background-color: var(--color-background-color);
  color: white;
  font-family: "Montserrat", sans-serif;
}
